/*
    Document   : css/main．css
    Created on : 2014-11-19 08:59 PM
    Author     : yaboi
    Description: Custom styling for "FlyerSocial" App
    Version    : 1.0.0
*/

/* Custom Body Styles */
 body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
/* Bootstrap Nav Overwrites */
 .navbar-inner {
    min-height: 50px;
}
.navbar .brand {
    padding: 17px 30px 17px;
}
.navbar .nav>li {
    padding: 5px 30px 5px;
}
.navbar .nav.social>li {
    padding: 5px 0 5px;
}
.navbar .nav>li>a {
    padding: 10px;
}
.navbar-inverse .nav>li>a.btn {
    color: #fff;
}
.navbar .btn, .navbar .btn-group {
    margin-top: 0;
}
.navbar .nav.social>li>a {
    color: #fff;
}
.navbar .nav.social>li>a:hover, .navbar .nav.social>li>a:focus, .navbar .nav.social>li>a:active {
    color: #b94a48;
}
.navbar-fixed-top {
    margin-bottom: 0;
    position: fixed;
}
/* Bootstrap Button Overwrites */
 .btn:hover, .btn:focus {
    background-position: initial;
}
/* Bootstrap Hero-Unit Overwrites */
 .hero-unit {
    background: #000;
    border-radius: 0;
    color: #fff;
    padding: 40px 10px;
    margin-bottom: 0;
}
.hero-unit img {
    margin-bottom: 15px;
    max-height: 500px;
}
.hero-unit h1 {
    margin-bottom: 10px;
}
.hero-unit p {
    margin-bottom: 20px;
}
.instagram .media {
    padding-bottom: 15px;
}
.instagram .media .media-body .media-heading {
    word-wrap: break-word;
}
.instagram .media img {
    height: 40px;
    vertical-align:top;
    margin-right: 5px;
    display: inline-block;
}
/* Bootstrap Modal Overwrites */
 .modal.fade.in {
    top: 10px;
}
/* Custom Section Styling */
 section {
    padding: 75px 60px;
}
/* Custom Textarea Styling */
 textarea {
    resize:vertical;
    max-height: 250px;
}
/* Custom About Styles */
 .about {
    background-color: #efefef;
}
/* Custom Social Icons Styles */
 ul.social li a {
    font-size: 24px;
}
/* Custom Footer Styles */
 footer {
    background-color: #000;
    height: 30px;
}
/* setup.html Styles */

/* Small devices */
 @media (min-width: 768px) {
}
/* Medium devices */
 @media (min-width: 992px) {
    body {
        padding-top: 50px;
    }
}
/* Large devices */
 @media (min-width: 1200px) {
}