/*
    Document   : css/mainï¼Žcss
    Created on : 2014-11-19 08:59 PM
    Author     : yaboi
    Description: Custom styling for "FlyerSocial" App
    Version    : 1.0.0
*/

/* Custom Body Styles */
 body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
/* Bootstrap Nav Overwrites */
 .navbar-inner {
    min-height: 75px;
}
.navbar .brand {
    padding: 27px 30px 27px;
}
.navbar .nav>li {
    padding: 16px 30px 16px;
}
.navbar-inverse .nav>li>a.btn {
    color: #fff;
}
.navbar .btn, .navbar .btn-group {
    margin-top: 0;
}
.navbar-fixed-top {
    margin-bottom: 0;
}
/* Bootstrap Button Overwrites */
 .btn:hover, .btn:focus {
    background-position: initial;
}
/* Bootstrap Hero-Unit Overwrites */
 .hero-unit {
    background: #000;
    border-radius: 0;
    color: #fff;
    padding: 90px 60px;
    margin-bottom: 0;
}
.hero-unit img {
    margin-bottom: 15px;
}
.hero-unit h1 {
    margin-bottom: 10px;
}
.hero-unit p {
    margin-bottom: 20px;
}
/* Custom Section Styling */
 section {
    padding: 75px 60px;
}
/* Custom Textarea Styling */
 textarea {
    resize:vertical;
    max-height: 250px;
}
/* Custom About Styles */
 .about {
    background-color: #efefef;
}
/* Custom Social Icons Styles */
 ul.social li a {
    font-size: 24px;
}
/* Custom Footer Styles */
 footer {
    background-color: #000;
    height: 30px;
}
/* Small devices */
 @media (min-width: 768px) {
}
/* Medium devices */
 @media (min-width: 992px) {
    body {
        padding-top: 75px;
    }
}
/* Large devices */
 @media (min-width: 1200px) {
}